
<main>
    <form action="/signupuser" method="post" id="signup-form">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName">

        <label for="userId">Username:</label>
        <input type="text" id="userId" name="userId">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">

        <label for="favoriteQuote">Favorite Quote:</label>
        <input type="text" id="favoriteQuote" name="favoriteQuote">

        <label for="backgroundColor">Background Color:</label>
        <input type="color" id="backgroundColor" name="backgroundColor">

        <label for="fontColor">Font Color:</label>
        <input type="color" id="fontColor" name="fontColor">

        <label for="role">Role:</label>
        <select type="text" id="role" name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>


        <input type="submit" name="submit_button" id="submit_button">
    </form>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <a href="/signinuser"><p>Already have an account? Click here to sign in</p></a>
</main>

