html {
    width: 100%;
    height: 100%
}

body{
    width: 100%;
    height: 100%
}

#welcome {
    font-size: larger
}

#quote {
    font-size: smaller;
}


#adminLink {
    margin-left: 25px;
    margin-right: 50px;
}

#userLink {
    margin-left: 25px;
    margin-right: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 66%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
form label {
    margin-top: 15px;
}
#submit_button {
    margin-top: 15px;
}

a p {
    width: 350px;
    margin-left:15px
}

.error {
    margin-left:15px;
    color: rgb(172, 0, 0)
}
